{% extends 'base.html' %}
{% from 'bootstrap5/pagination.html' import render_pagination %}
{% from 'bootstrap5/table.html' import render_table %}

{% block content %}

<h2>Фильмы</h2>

{{ render_table(
    items, 
    [("href", "Название"), ("created_at", "Дата создания")],
    show_actions=True,
    safe_columns=['href'],
    model=Film,
    new_url=url_for('admin.create'),
    delete_url=('admin.delete_film', [('film_id', ':id')]),
    edit_url=('admin.edit', [('film_id', ':id')]),
) }}
{{ render_pagination(pagination) }}

{% endblock %}
