{% extends 'base.html' %}
{% from 'bootstrap5/pagination.html' import render_pagination %}
{% from 'bootstrap5/table.html' import render_table %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}

<h1 class="mt-5 display-1"><a href="/" class="text-decoration-none">MovieReviews</a></h1>
<p class="lead">Пишите отзывы к фильмам!</p>
<hr>

{% for row in rows %}
<div class="row">

    {% for item in row %}

    <div class="col-md-4">
    <div class="card mb-4">
        <img src="{{ item.image }}" class="card-img-top">
        <div class="card-body">
            <h1 class="card-title display-6">{{ item.title }}</h1>
            <p class="card-text">{{ item.text | truncate(100) }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="{{ url_for('films.film', film_id=item.id) }}" class="btn btn-lg btn-outline-secondary">К отзывам</a>
              </div>
              <small class="text-muted">Отзывов: {{ item.review_count }}</small>
            </div>
        </div>
    </div>
    </div>
    
    {% endfor %}

</div> 
{% else %}
<div class="row">
    <p class="lead">Пока тут пусто, но скоро мы это исправим!</p>
</div>
{% endfor %}

{% endblock %}
