{% extends 'base.html' %}
{% from 'bootstrap5/pagination.html' import render_pagination %}
{% from 'bootstrap5/table.html' import render_table %}

{% block content %}

<h2>Новости</h2>

{{ render_table(
    items, 
    [("href", "Название"), ("created_at", "Дата создания")],
    show_actions=current_user.is_authenticated and current_user.admin_level > 0,
    safe_columns=['href'],
    model=News,
    new_url=url_for('news.create'),
    delete_url=('news.delete_news', [('id', ':id')]),
    edit_url=('news.edit', [('id', ':id')]),
    view_url=('news.news', [('news_id', ':id')]),
) }}
{{ render_pagination(pagination) }}

{% endblock %}
