{% extends 'base.html' %}
{% from 'bootstrap5/utils.html' import render_icon %}

{% block content %}

<h3>Ваши данные: </h3>

<div><b>{{ render_icon('file-earmark-person') }} Логин:</b> {{ current_user.username }}</div>
<div><b>{{ render_icon('calendar-event-fill') }} Дата создания:</b> {{ current_user.created_at }}</div>

<p></p>

<a class="btn btn-primary text-white" href="{{ url_for('profile.edit') }}">Изменить данные {{ render_icon('pencil-fill') }}</a>
<a class="btn btn-danger text-white" href="{{ url_for('profile.edit') }}">Удалить профиль {{ render_icon('trash') }}</a>

{% endblock %}
