{% extends 'base.html' %}
{% from 'bootstrap5/pagination.html' import render_pagination %}
{% from 'bootstrap5/table.html' import render_table %}

{% block content %}

<h2>Пользователи</h2>

{{ render_table(
    items, 
    [("id", "#"), ("username", "Логин"), ("created_at", "Дата создания")],
    model=User,
    show_actions=True,
    new_url=url_for('admin.create_user'),
    edit_url=('admin.edit_user', [('user_id', ':id')]),
    delete_url=('admin.delete_user', [('user_id', ':id')]),
) }}
{{ render_pagination(pagination) }}

{% endblock %}
